<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .footer {
    background: #1a1e24;
}

.col1 {
    color: #f1f1f5;
}

.col2 {
    color: #5b5f65;
}

.footer section {
    padding: 20px
}

.footer-link {
    margin: 30px;
}

.footer-li {
    padding: 10px;
    list-style: none;
}

.font14 {
    font-size: 14px;
}

.footer-link {
    display: inline-block;
}

.pad {
    padding: 20% 0;
}

.footer-right {
    text-align: right;
    color: #f1f1f5;
}

.footer-right small {
    color: #5b5f65;
}
.footer-right .social i {
    margin: 10px;
}
  </style>
</head>
<body>
  <footer class="footer">
    <section>
        <ul class="footer-link">
            <h4 class="footer-li col1">Main</h4>
            <li class="font14 footer-li col2">Start Here</li>
            <li class="font14 footer-li col2">Portfolio</li>
            <li class="font14 footer-li col2">Meet Us</li>
            <li class="font14 footer-li col2">Blog</li>
            <li class="font14 footer-li col2">Contact</li>
        </ul>
        <ul class="footer-link">
            <h4 class="footer-li col1">Company</h4>
            <li class="font14 footer-li col2">About</li>
            <li class="font14 footer-li col2">Help</li>
            <li class="font14 footer-li col2">Support</li>
            <li class="font14 footer-li col2">Jobs</li>
            <li class="font14 footer-li col2">Directory</li>
        </ul>
        <ul class="footer-link ">
            <h4 class="footer-li col1">One More</h4>
            <li class="font14 footer-li col2">Meetups</li>
            <li class="font14 footer-li col2">Handbook</li>
            <li class="font14 footer-li col2">Privacy</li>
            <li class="font14 footer-li col2">API</li>
            <li class="font14 footer-li col2">Equipment</li>
        </ul>
        <ul class="footer-link">
            <h4 class="footer-li col1">The Last One</h4>
            <li class="font14 footer-li col2">Meetups</li>
            <li class="font14 footer-li col2">Handbook</li>
            <li class="font14 footer-li col2">Privacy</li>
            <li class="font14 footer-li col2">API</li>
            <li class="font14 footer-li col2">Equipment</li>
        </ul>
        <div class="footer-right footer-link fr">
            <div class="social pad">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-vimeo-v"></i>
            </div>
            <div class="copyrights pad">
                <small>&copy;2021 be happy <br> Privacy Policy &#183; Terms of Service</small>
            </div>
        </div>
    </section>
</footer>
</body>
</html>